/* colors */
/* 
    blue: #3701F3; 
    gray: #545454;

*/


* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a, a:visited, a:active, a:hover {
    color: black
}


.container {
    max-width: 1500px;
}


/* HEADER */
header, header .container {
    height: 110px;    
}

header .container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 36px;
}

.nav-menu a {
    margin: 55px;
    font-size: 26px;
}

.nav-menu .active {
    color: #3701F3;
}
.nav-menu .active:before {
    content: "< ";
    padding-right: 10px;
}
.nav-menu .active:after {
    content: " >";
    padding-left: 10px;
}

@media (max-width: 900px) {
    header {
        display: none;
    }
}
/* HEADER */




/* WHOAMI */
.whoami .container{
    display: flex;

}
.social-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-nav a object{
    color: #3701F3;
}
/* WHOAMI */