/* colors */
/* 
header: #2D2E32
green: #63F4AB
gray: #838488
*/

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
}
a, a:active, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

.section {
    height: 100vh;
}

header {
    background-color: #2D2E32;
    height: 20vh;
}
.header-wrapper, .whoami-wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*  */
/* LOGO */
.logo {
    font-size: 1.5em;
    color: #D2D2D3
}
.logo .myname {
    font-weight: bold;
    padding-right: 5px;
    color: white;
}
/*  */
/* LOGO  */


/*  */
/* MENU */
.menu-nav, .menu-links, .logo {
    display: flex;
    flex-direction: row;
}

/* MENU ITEM */
.menu-item:not(:last-child), .menu-link:not(:last-child) {
    margin-right: 50px;
}
.menu-item .active {
    color: #63F4AB; 
}
.menu-item .active:before {
    content: "< ";
    padding-right: 10px;
}
.menu-item .active:after {
    content: "  >";
    padding-left: 10px;
}
/* MENU ITEM */


/* MENU LINKS */
.menu-link a {
    font-size: 0.7em;
    vertical-align: middle;
}
.menu-link-icon {
    vertical-align: middle;
    width: 15px;
    margin-right: 10px;
}
/* MENU LINKS */

.email-btn {
    width: 30px;
    height: 30px;
    background-color: #333438;
    border-radius: 100%;
    padding: 15px;
    text-align: center;
    
}

.email-btn img {
    width: 90%;
    margin: auto;
}
/*  */
/* MENU */



.whoami {
    background-color: #2D2E32;
    height: 80vh;
    
}
.whoami-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.text-block {
    padding-top: 30px;
    /* padding-bottom: 30px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.to-right {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}
.to-left {
    width: 80%;
    margin-right: auto;
    display: flex;
}

.dev {
    padding: 5px;
    border-radius: 2px;
    width: 150px;
    text-align: center;
    background-color: #63F4AB;
    color: #2D2E32;
}
.quote-big {
    font-size: 3em;
}
.quote-small {
    font-size: 1.1em;
    color: #838488;
}
.writeme {
    color: #63F4AB;
    text-decoration: underline;
    font-size: 1.5em;
    text-transform: uppercase;
}

.time-stat {
    display: flex;
    height: 80px;
}
.count {
    font-size: 4em;
    padding-right: 5px;
}
.count-desc {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #838488;
    line-height: 40px;
    /* text-align:; */
}

.images-block {
    align-self: flex-end;
   
}
.avatar {
    display: flex;
    flex-direction: column;
}
.avatar img {
    max-width: 800px;
    align-self: flex-end;
    /* position: absolute;   */
    /* position: sticky; */
    /* margin: auto; */
    /* bottom: 0; */
    /* top: 65%; */
  /* transform: translateY(-0%); */
}


/*  */
/* introduce */
.introduce {
    background-color: #25262A;
}
.introduce-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.list-skills {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill {
    width: 60%;
    box-shadow: 0 0 50px #25262A;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #2D2E32;
}
.skill:not(:first-child) {
    margin-top: 10px;
}

.skill .text {
    display: flex;
    flex-direction: column;
}
.skill .title {
    color: #63F4AB;
    font-size: 2em;
}
.skill .about {
    margin-top: 5px;
    color: #838488;
}
.skill .projects {
    margin-top: 20px;
    text-decoration: underline;
}

.icon {
    width: 100px;
    text-align: right;
}

.icon img {
    width: 30px;
}
/*  */